<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hwt.testapp">

    <application
        android:name=".GApplication"
        android:allowBackup="true"
        android:icon="@drawable/slogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/slogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".LaunchActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"></activity>
        <activity android:name=".detail.DetailActivity"
            android:theme="@style/NoActionBar"
            ></activity>
    </application>

</manifest>